/* @import "tailwindcss" */

*{
    margin: 0;
    padding: 0;
}

body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    background-color: #1B1B1B;

}
