.sectionLinks {
   width: 100%;
   height: 100%;
   padding: 20px 0 20px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.asideExperiences {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
}

.divLinks {
   width: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   gap: 10px;
}

.links {
   font-size: 20px;
   color: #bebbbb;
   transition: 0.7s;
}

.links:hover {
   color: #979393;
}

.sectExperience {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   gap: 50px;
}

.asideImg {
   width: 100%;
   padding: 20px 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.asideImg>div {
   width: 50%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.asideImg>div>h2 {
   padding-bottom: 10px;
   font-size: 30px;
}

.imgLinks {
   width: 80%;
   height: fit-content;
   font-size: 20px;
   border-top: 15px solid #979393;
   border-bottom: 2px solid #979393;
   border-left: 20px solid #979393;
   border-right: 2px solid #979393;
   border-radius: 0 30px 0 30px;
   transition: .7s;
}

.imgLinks:hover {
   border-top: 2px solid #5a5a5a;
   border-bottom: 15px solid #5a5a5a;
   border-left: 2px solid #5a5a5a;
   border-right: 20px solid #5a5a5a;
   border-radius: 0 50px 0 50px;
   transform: scale(.96);
}

.aStyle {
   display: flex;
   justify-content: center;
   align-items: center;
}

.h2Proyects {
   font-size: 50px;
   text-align: center;
}

#asideDiv {
   margin-bottom: 2%;
}

@media screen and (max-width: 1800px) {
   .divLinks {
      width: 50%;
      align-items: center;
      text-align: center;
   }
}

@media screen and (max-width: 920px){
   .sectionLinks {
       padding: 80px 0 600px 0;
   }
}

@media screen and (max-width: 768px) {
   .sectionLinks {
      padding: 50px 0 1300px 0;
   }

   .asideImg {
      flex-direction: column;
   }

   .asideImg>div {
      width: 80%;
   }

   .imgLinks {
      width: 80%;
   }

   #asideDiv {
      margin-bottom: 5%;
   }
}

@media screen and (max-width: 480px){
   .asideImg > div > h2 {
      text-align: center;
   }
   .h2Proyects {
      font-size: 45px;
   }
   #asideDiv {
      margin-bottom: 20%;
   }
}
