header{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.NavBar{
    width: 60%;
    display: flex;
    justify-content: right;
}
.NavBarNtworks{
    width: 20%;
    display: flex;
    justify-content: center;
}
a{
    color: #fff;
    text-decoration: none;
    list-style: none;
}
ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
